body {
  background-color: #ecf0f1;
}

.content-wrapper {
  padding: 20px;
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #ecf0f1;
  margin-left: 220px;
}

.navbar {
  margin-bottom: 0px;
  z-index: 117;
  border-radius: 0;
}

ul.navbar-right {
  margin-right: 5px;

  li:hover {
    background-color: #1a252f;
  }
}

.sidebar-wrapper {
  padding: 0px;
  padding-top: 60px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}

#sidebar {
  position: relative;
  width: 100%;
}

#sidebar > li.nav-heading {
  padding: 15px;
  font-size: 14px;
  letter-spacing: .04em;
  cursor: pointer;
}

#sidebar > div > li > a {
  position: relative;
  display: block;
  padding: 10px 40px;
  text-decoration: none;

  &:hover {
    background-color: #ecf0f1;
  }
}

.wrapper > aside {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 116;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.btn {
  padding: 5px 10px;
}

.table > tbody > tr > td.table-entry {
  vertical-align: middle;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: #2C3E50;
}

.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #1a252f;
}

label.required:after{ content:" *" }

.grayed {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
