<aside>
  <div class="sidebar-wrapper">
      <ul id="sidebar" class="nav nav-stacked affix">
        <li><%= link_to "Tous les mots", words_path %></li>
        <li><%= link_to "Nouvelle entrée", new_word_path %></li>
    </ul>
</aside>
